/*会员中心管理 左侧导航*/
.memberManageWarp{background-color: #f3f3f3;}
.memberManageWarp .positionBox{ /*float:left; font-size:36px; color:#00B7EE;*/}
.memberManageWarp .positionBoxR{ float:right; font-size:24px; color:#3e3e3e; line-height: 24px; margin-top: 26px;  margin-right: 13px;}
.memberManageWarp .manageWarp { background-color: #fff; padding: 23px 13px 0 17px; margin-top: 1px;  overflow: hidden;}
.memberManageWarp .manageWarp .fl{ float:left;}
.memberManageWarp .manageWarp .fr{ float:right;}
.memberManageWarp .manageNav{ width:300px; border:1px solid #959595; min-height: 700px; height: 700px; margin-bottom: 20px;}
.memberManageWarp .manageNav .manageNav1{ background:url(../images/zt-zc.png) no-repeat 18px 13px;}
.memberManageWarp .manageNav .manageNav2{ background:url(../images/zt-zlgl.png) no-repeat 18px 13px;}
.memberManageWarp .manageNav .manageNav3{ background:url(../images/zt-zlnfgl.png) no-repeat 18px 13px;}
.memberManageWarp .manageNav .manageNav4{ background:url(../images/zt-zhgl.png) no-repeat 18px 13px;}
.memberManageWarp .manageNav li.on,.memberManageWarp .manageNav li:hover { background-color:#e5e5e5;}
.memberManageWarp .manageNav li a{font-size:20px; color:#3e3e3e;padding:17.5px 0 17.5px 73px; display:block; border-bottom:1px solid #959595;} 
/*会员中心管理 左侧导航  end*/
.memberManageAccount .manageNav {    height: 900px;}


.memberManageAccount .pageList { margin-top: 18px; }
.memberManageAccount .feeCancel{ float:left; width:112px; height:35px; display:block; background-color:#eb6100; font-size:18px; color:#fff;border-radius: 6px; text-align:center; line-height:34px; margin-top: 20px;  margin-left: 5px;}
.memberManageAccount .pageList tbody{ float:right;}
.memberManageAccount .pageList .go .btn { font-size:15px;    width: 49px;    height: 36px;    line-height:0 !important;}
.memberManageAccount .pageList .go span input.page { width: 32px; height: 33px;line-height: 34px;}
.memberManageAccount .pageList .go span {    font-size: 15px;}
.memberManageAccount .pageList .pageListContent .prev, .memberManageAccount .pageList .pageListContent .next {
    width: 60px;    color: #9c9c9c;    font-size: 15px;    height: 36px;	    line-height: 37px}
.memberManageAccount .pageList .pageListContent a, .memberManageAccount .pageList .pageListContent span {    width: 37px;    height: 36px;	font-size: 17px;line-height: 37px}
.memberManageAccount .pageList .go { height: 38px; line-height: 38px;}
.memberManageAccount .policyManageWarp div{ overflow:hidden;}
.memberManageAccount .policyManageWarp .feeSpecific{border: 1px solid #959595 ; margin-top:21px; background-color:#eeeeee;padding-bottom: 6px;}
.memberManageAccount .policyManageWarp .feeSpecific p{ font-size:26.5px; color:#414141; padding:24px 0 24px 84px; background:url(../images/zt-wh.png) no-repeat 12px 16px; float:left;}
.memberManageAccount .policyManageWarp .feeSpecific a{ float:right; height:35px; background:#eb6100; color:#fff; text-align:center; font-size:18px; line-height:34px;border-radius:5px;margin-top: 26px;}
.memberManageAccount .policyManageWarp .feeSpecific .feeApply{ width:112px;}
.memberManageAccount .policyManageWarp .feeSpecific .feeknow{ width:140px;margin-right: 28px;margin-left: 23px;}